<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html :: head(title='Жаңа тапсырма')"/>
    <link href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
</head>
<body class="d-flex flex-column h-100">
<nav th:replace="fragments.html :: navbar(authorized=true)"></nav>

<div class="container py-3" id="content">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg" id="taskHeader" placeholder="Тапсырма тақырыбы">
                <div class="invalid-feedback">Тақырыпты енгізіңіз</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div class="mb-3">
                <label for="taskText" class="form-label">Тапсырма мәтіні</label>
                <textarea class="form-control" id="taskText" rows="10"></textarea>
            </div>
            <div class="form-floating mb-3 d-flex">
                <input
                        type="text"
                        class="form-control border-2"
                        id="inspirationDate"
                        required
                        placeholder="YYYY.MM.DD">
                <label for="inspirationDate">Мерзімі</label>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" id="saveTask">Сақтау</button>
            </div>
        </div>
        <div class="col-sm-3 order-first order-sm-last">
            <div class="mb-2">
                <label class="form-label" for="mainTags">Негізгі тегтер:</label>
                <select class="form-select" size="2" multiple id="mainTags">

                </select>
                <div class="invalid-feedback">Бір немесе бірнеше негізгі тегтерді таңдаңыз</div>
            </div>
            <div class="mb-2">
                <label class="form-label" for="taskSecondaryTags">тапсырманың қосымша тегтері:</label>
                <select class="form-select" size="3" multiple id="taskSecondaryTags">

                </select>
            </div>
            <div class="mb-2">
                <label class="form-label" for="assigneeSecondaryTags">орындаушының Қосымша тегтері:</label>
                <select class="form-select" size="3" multiple id="assigneeSecondaryTags">

                </select>
            </div>
            <div class="mb-2">
                <label class="form-label" for="assigneeRole">Орындаушының рөлі:</label>
                <select class="form-select" id="assigneeRole">

                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="chooseAssignee">Орындаушыны тағайындау</label>
                <div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="autoChooseAssignee" checked>
                        <label class="form-check-label" for="autoChooseAssignee">Автоматты түрде тағайындау</label>
                    </div>
                    <div class="invalid-feedback">Таңдалған тегтер мен рөлге сәйкес орындаушы табылмады</div>
                </div>
                <select class="form-select" id="chooseAssignee">

                </select>
                <div class="invalid-feedback">Орындаушыны таңдаңыз</div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script th:src="@{/script/new-task.js}"></script>
</body>
</html>