<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html :: head(title='#'+${taskId}+' тапсырма')"/>
</head>
<body class="d-flex flex-column h-100">
<nav th:replace="fragments.html :: navbar(authorized=true)"></nav>

<div class="container py-3" id="content">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <p class="fs-5">
                <a th:href="'/tasks?id='+${taskId}" th:text="'#'+${taskId}"></a>
                Создал(а) <span id="taskAuthor"></span> <span id="taskAssignDate"></span>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <div>
                <h2 id="taskHeader"></h2>
                <p class="fs-4" id="taskText">
                </p>
            </div>
            <div id="taskHistory"></div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Комментарий" id="commentary" style="height: 120px"></textarea>
                <label for="commentary">Түсініктеме</label>
                <div class="invalid-feedback">Түсініктеме мәтіні бос болмауы керек</div>
            </div>
            <div>
                <button class="btn btn-success" id="saveCommentary">Түсініктемені сақтау</button>
            </div>
        </div>
        <div class="col-sm-3 order-first order-sm-last">
            <h4>Тегтер</h4>
            <ul class="list-group" id="taskTags">
            </ul>
            <p><label for="taskStatus">Статус:</label> <select class="form-select" id="taskStatus">
                <option value="OPEN">Ашық</option>
                <option value="IN_PROGRESS">Орындалуда</option>
                <option value="UNDER_REVIEW">Тексеруде</option>
                <option value="COMPLETED">Аяқталды</option>
                <option value="CLOSED">Жабық</option>
            </select></p>
            <p>Орындаушы: <span id="taskAssignedUser"></span></p>
            <p>Мерзімі: <span id="taskInspirationDate"></span></p>
            <p>Аяқтау күні: <span id="taskCompletionDate"></span></p>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script th:src="@{/script/task.js}"></script>
</body>
</html>