<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments.html :: head(title='Задача #'+${taskId})"/>
</head>
<body class="d-flex flex-column h-100">
<nav th:replace="fragments.html :: navbar(authorized=true)"></nav>

<div class="container py-3 h-100" id="content">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <p class="fs-5">
                <a th:href="'/tasks?id='+${taskId}" th:text="'#'+${taskId}"></a>
                Создал(а) <span id="taskAuthor"></span> <span id="taskAssignDate"></span>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h2 id="taskHeader"></h2>
            <p class="fs-4" id="taskText">
            </p>
            <div id="taskHistory"></div>
        </div>
        <div class="col-sm-3 order-first order-sm-last">
            <h4>Тэги</h4>
            <ul class="list-group" id="taskTags">
            </ul>
            <p><label for="taskStatus">Статус:</label> <select class="form-select" id="taskStatus">
                <option value="OPEN">Открыта</option>
                <option value="IN_PROGRESS">В процессе</option>
                <option value="UNDER_REVIEW">На проверке</option>
                <option value="COMPLETED">Завершена</option>
                <option value="CLOSED">Отменена</option>
            </select></p>
            <p>Испольнитель: <span id="taskAssignedUser"></span></p>
            <p>Крайний срок: <span id="taskInspirationDate"></span></p>
            <p>Дата завершения: <span id="taskCompletionDate"></span></p>
        </div>
    </div>
</div>

<footer th:replace="fragments.html :: footer"></footer>
<script th:src="@{/script/task.js}"></script>
</body>
</html>